<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="header">
        <h1 id="title">ShrinkYoUrl</h1>
        <ul class="nav">
            <li class="main_menu"><a href="home.html">Home</a></li>
            <li class="main_menu"><a href="stats.html">Stats</a></li>
        </ul>
    </div>
    <div class="container">
        <ul>
            <li><a href="new_short_url.html">Insert new Short Url</a></li>
            <li><a href="search_short_url.html">Search a Short Url</a></li>
        </ul>
    </div>
    <div id="footer">Barracchia Emanuele Pio 601514<br>
        Dibenedetto Ruggiero 601669
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/angular-cookies.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-resource.js"></script>

    <script src="/scripts/app.js"></script>
</body>
</html>