<h2>Search ShortUrl</h2>
<form class="form-horizontal" role="form" ng-submit="searchShortUrl()">
    <div class="form-group">
        <label for="urlSearch" class="col-sm-2 control-label">shortUrl</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="urlSearch" placeholder="Write shortUrl.." ng-model="urlShortSearch" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" href="#/search">Search ShortUrl</button>

        </div>
    </div>
</form>
<div ng-show="bool">
    <label>ShortUrl: </label>
    <label>{{data.urlShort}}</label>
    <br>
    <label>LongUrl: </label>
    <label>{{data.urlLong}}</label>
    <br>
    <label>Created on: </label>
    <label>{{data.createdOn | date:'medium'}}</label>
    <br>

    <h3>Stats</h3>
    <label># Clicks: &nbsp;</label><label>{{stats[0]}}</label><br>
    <label># Clicks from Europe: &nbsp;</label><label>{{stats[1]}}</label><br>
    <label># Clicks from America: &nbsp;</label><label>{{stats[2]}}</label><br>
    <label># Clicks from Asia: &nbsp;</label><label>{{stats[3]}}</label><br>
    <label># Clicks from Africa: &nbsp;</label><label>{{stats[4]}}</label><br>
    <label># Clicks from Oceania: &nbsp;</label><label>{{stats[5]}}</label><br>

    <br>
    <h3>Clicks:</h3>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>City</th>
            <th>Country</th>
            <th>Continent</th>
        </tr>

        <tr ng-show="cities.length" ng-repeat="city in arrString track by $index">
            <td>{{$index+1}}</td>
            <td>{{city}}</td>
            <td>{{arrStringCountries[$index]}}</td>
            <td>{{arrStringCont[$index]}}</td>
        </tr>
        <tr ng-show="!cities.length">
            <td colspan="4"><i>No recent clicks...</i></td>
        </tr>
    </table>
</div>