<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta charset="UTF-8">
    <title>ShrinkYoUrl</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div id="header">
    <h1 id="title">ShrinkYoUrl</h1>
    <ul class="nav">
        <li class="main_menu"><a href="home.html">Home</a></li>
        <li class="main_menu"><a href="stats.html">Stats</a></li>
    </ul>
</div>
<hr>
<div class="stats" ng-app="" ng-init="position=[1,15,19,2,40]">

    <div>
        <h2>Most clicked</h2>
        <ul>
            <li ng-repeat="x in position">
                {{ x }}
            </li>
        </ul>
    </div>
    <hr>

<div>
    <h2>Stats Url</h2>
    Search Url <input type="text" ng-model="searchUrl" ng-change="searchUrl = 'funzione per cercare'">
    <br/><br/>
    <table style="width: 100%">
        <tr>
        <td style="width: 33%">Continent</td><td style="width: 33%">Country</td><td style="width: 33%">City</td>
    </table>

</div>
</div>


<hr>
<div id="footer">Barracchia Emanuele Pio 601514<br>
    Dibenedetto Ruggiero 601669
</div>
<script src="../js/jquery.js"></script>
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js/angular-cookies.js"></script>
<script src="../js/angular-sanitize.js"></script>
<script src="../js/angular-resource.js"></script>

<script src="../scripts/app.js"></script>
</body>
</html>