<h2>Visit ShortURL</h2>
<form class="form-horizontal" role="form" ng-submit="visitShortUrl()">
    <div class="form-group">
        <label for="urlToVisit" class="col-sm-2 control-label">shortUrl</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="urlToVisit" placeholder="Write shortUrl.." ng-model="urlToVisit">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Visit ShortUrl</button>

        </div>
    </div>
</form>